<ul id="genres">
  <% @genres.each do |genre| %>
    <li>
      <article class="genre" id="<%= dom_id(genre) %>">
        <header>
        
          <h2><%= link_to genre.name, genre %></h2>
        </header>
        <footer>
        </footer>
      </article>
    </li>
  <% end %>
</ul>
