<aside id="sidebar">
  <nav>
    <ul>
      <li class="movies">
        <%= link_to 'All Movies', movies_path, class: 'button' %>
      </li>

       <li class="movies">
        <%= link_to 'All Genres', genres_path, class: 'button' %>
      </li>

    <% if current_user_admin? %> 
      <!-- Hide links from folks who aren't Admins-->
      <li class="create-movie">
        <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
      </li>

      <li class="create-movie">
        <%= link_to 'Add New Genre', new_genre_path, class: 'button' %>
      </li>

    <% end %>
    
    </ul>
  </nav>
</aside>